 <div id="content_wrap">
      <img style="margin-top: -15px;" src="<%=image_path('banner2.jpg')%>" title="">
          
    </div>
    <div id="over_wrap">
        <div id="box_wrap">

            <div> <a name="about"></a>
                <h2>About Rexone Studios</h2>
                    <p>
                        <img src="<%=image_path('icon.png')%>" width="128" height="128" style="float:left; margin-right:20px;"> 
                        Game programming in general is not a trivial task and let alone game programming for small devices. 
                        Every day we face challenges that we try to overcome and push the limits of small device hardware to  a maximum. 
                        Rexone Studios is committed to entertain gamers of smart phones with unique and fun games. Our first  endeavor is Ninjaken, 
                        which is currently on Google Play and Amazon App Store.  
                        
                        
                    </p>   
                     
                    
                <hr/>
                </div>

             
        </div>
   
    </div>
    