<div id="content_wrap">
	<img style="margin-top: -15px;" src="<%=image_path('banner2.jpg')%>" title="">

</div>
<div id="over_wrap">
	<div id="box_wrap">

		<div>
			<a name="about"></a>
			<h2>Contact</h2>
			<p>
				<img src="<%=image_path('icon.png')%>" width="128" height="128" style="float:left; margin-right:20px;">
				Please email us at <a href='mailto:admin@rexonestudios.com'>admin@rexonestudios.com</a> with any feedback, suggestion of improvements or any game ideas you have. We're looking forward to
				hearing from you. However be aware that should you provide us Unsolicited Content without prior written agreement, you agree that such content becomes property of Rexone Studios and we are not obligated to compensate you in any way.
			</p>

			<hr/>
		</div>

	</div>

</div>